/* CSS declarations go here */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
button {
  background-color: rgb(43, 131, 231);
  color: white;
  border: 1px outset #999FEC;
  border-radius: 6px;
  padding: 2px 12px;
  transition: all 200ms;
}
button:hover {
  background-color: rgb(34, 103, 181);
}
li {
  list-style: none;
}
@media (min-width: 641px) {
  .mobile {
    display: none;
  }
}

.acroparty, .frontSignin, .mainScreen, .stats, .chat, .settings {
  display: none;
}
.frontSignin {
  text-align: center;
}
.frontSignin #login-dropdown-list {
  margin: 0 auto;
  left: -110px;
  text-align: left;
}

.stats, .settings {
  position: fixed;
  top: 12px;
  border: 1px solid darkgrey;
  background-color: lightblue;
  width: 50%;
  min-width: 300px;
  height: auto;
  padding: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.stats {
  background-color: lightblue;
}
.settings {
  background-color: lightgrey;
}

.mainScreen h1 {
  text-align: center;
}
.mainButtons {
  width: auto;
  text-align: center;
  margin: 6px;
}
.mainButton {
  margin: 0 8px;
}
.popupButton {
  display: block;
}

.welcomeText {
  text-align: center;
  width: 50%;
  min-width: 260px;
  margin: 0 auto 6px;
}
.roomList {
  width: 30%;
  background-color: lightblue;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
}
.roomListTitle {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}
.roomList li {
  margin-bottom: 8px;
  display: block;
}
.roomlistTitle {
  width: 100px;
  margin-left: 10px;
}

/* chat room */
.chat {
  height: 98vh;
}
.chatArea {
  width: 80vw;
  margin: 0 auto;
}
.listAndInfo {
  display: inline-block;
  width: 20vw;
}
ul.playerNameList {
  position: relative;
}
.playerList {
  display: block;
  vertical-align: top;
  border: 2px solid grey;
  border-radius: 4px;
  margin: 6px 3px;
  width: 98%;
  max-height: 34vh;
  min-height: 28vh;
}
.playerList ul {
  margin: 4px;
  padding: 0;
}
span.scoresRight {
  position: absolute;
  right: 0;
}
.messagesArea {
  display: inline-block;
  vertical-align: top;
  margin: 6px 1vw;
  min-width: 350px;
  width: 58vw;
  height: 46vh;
}
.messagesRead {
  height: 92%;
  border: 2px solid grey;
  border-radius: 4px;
  overflow-y: auto;
}
.messagesRead li {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 3px 0 1px;
}
.hostMessage {
  background-color: lightgreen;
  font-size: 100%;
  font-family: 'Pompiere', cursive;
  padding: 5px 0 1px;
}
.hostMessage .authorMessage {
  font-size: 17px;
}
.hostMessage .messageTime {
  font-size: 12px;
}
.leavingMessage {
  background-color: #ff8c8c;
}
.authorMessage {
  width: 83%;
  display: block;
  margin-left: 3px;
  font-size: 15px;
}
.messageAuthor {
  color: green;
}
.messageTime {
  position: absolute;
  font-size: 10px;
  vertical-align: baseline;
  right: 1%;
  bottom: 4px;
}
input.messageEnter {
  width: 80%;
}
.bigRoomName {
  font-size: 20px;
  text-align: center;
  background-color: rgba(230,230,230,.78);
  padding: 1px 2px;
  color: rgba(20,0,240,1);
  font-family: 'Gruppo', cursive;
  font-weight: 700;
  border-bottom: 2px solid lightsteelblue;
}
.chatMenuButtons {
  display: inline-block;
  margin: 6px 3px;
  vertical-align: middle;
}
.chatMenuButtons .mainButton {
  display: inline-block;
  margin: 0 0 6px 3px;
}

/* game area */
.gamePlay {
  width: 85vw;
  height:46vh;
  margin: 1vh auto;
}
.gamestate {
  display: none;
}
.waitingForPlayers div {
  text-align: center;
  padding: 10% 0 0;
  font-size: 26px;
}
.gameTop {
  width: 100%;
  padding: 2% 0 0;
}
.roundInfo {
  display: inline-block;
  font-size: 26px;
  width: 47%;
  text-align: left;
  padding-left: 3%;
}
.gameTimer {
  display: inline-block;
  visibility: hidden;
  width: 45%;
  padding-right: 5%;
  text-align: right;
  font-size: 32px;
  vertical-align: top;
}
.gameMiddle {
  width: 100%;
  padding: 3% 0 0;
}
.getReadyText {
  text-align: center;
  font-size: 30px;
}
.numberSubmitted, .categoryAndLetters, .submittedInfo {
  display: inline-block;
  vertical-align: top;
}
.numberSubmitted {
  width: 20%;
  margin-right: 5%;
  text-align: center;
  font-size: 14px;
}
.categoryAndLetters {
  width: 50%;
  text-align: center;
}
.submittedInfo {
  width: 25%;
  text-align: center;
}
.catWord {
  color: black;
  font-size: 14px;
  font-style: normal;
}
.currentCat {
  color: red;
  font-size: 20px;
  font-style: italic;
}
.currentLetters {
  font-size: 88px;
  color: blue;
  font-weight: 700;
  margin: 2% 0 4%;
}
.letter2 {
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
}
.letter3 {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
}
.letter4 {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
}
.letter5 {
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
}
.letter6 {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
}
.letter7 {
  animation-delay: 4.8s;
  -webkit-animation-delay: 4.8s;
  -moz-animation-delay: 4.8s;
}
.gameBottom {
  text-align: center;
}
.answerForm {
  visibility: hidden;
}
input.answerEnter {
  width: 50vw;
  font-size: 22px;
  min-width: 290px;
}
button.answerSend {
  font-size: 22px;
}

.voteTitle {
  font-size: 26px;
  text-align: center;
}
.voteArea {
  width: 50%;
  min-width: 310px;
  margin: -5% auto 20px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 6px;
  background: rgba(210, 244, 249, 0.6);
}
.answerItem {
  margin: 8px 4px;
}
.voteButton {
  margin-right: 4px;
}
.answerItem span {
  vertical-align: bottom;
}
