/* CSS declarations go here */
li {
  list-style: none;
}
@media (min-width: 641px) {
  .mobile {
    display: none;
  }
}

.acroparty, .frontSignin, .mainScreen, .stats, .chat, .gamePlay, .settings {
  display: none;
}
.frontSignin {
  text-align: center;
}
.frontSignin #login-dropdown-list {
  margin: 0 auto;
  left: -110px;
  text-align: left;
}

.stats, .settings {
  position: fixed;
  top: 12px;
  border: 1px solid darkgrey;
  background-color: lightblue;
  width: 50%;
  min-width: 300px;
  height: auto;
  padding: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.stats {
  background-color: lightblue;
}
.settings {
  background-color: lightgrey;
}

.mainScreen h1 {
  text-align: center;
}
.mainButtons {
  width: auto;
  text-align: center;
  margin: 6px;
}
.mainButton {
  margin: 0 8px;
}
.popupButton {
  display: block;
}

.welcomeText {
  text-align: center;
  width: 50%;
  min-width: 260px;
  margin: 0 auto 6px;
}
.roomList {
  width: 30%;
  background-color: lightblue;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
}
.roomListTitle {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}
.roomList li {
  margin-bottom: 8px;
  display: block;
}
.roomlistTitle {
  width: 100px;
  margin-left: 10px;
}

/* chat room */
.playerList {
  display: inline-block;
  vertical-align: top;
  border: 2px solid grey;
  border-radius: 4px;
  margin: 6px 3px;
  min-width: 150px;
  width: 20vw;
  height: 40vw;
}
.messagesArea {
  display: inline-block;
  vertical-align: top;
  margin: 6px 3px;
  min-width: 350px;
  width: 55vw;
  height: 40vw;
}
.messagesRead {
  height: 92%;
  border: 2px solid grey;
  border-radius: 4px;
}
.chatMenuButtons {
  display: inline-block;
  margin: 6px 3px;
  vertical-align: middle;
  height: 40vw;
}
.chatMenuButtons .mainButton {
  display: block;
  margin: 0 0 6px 3px;
}
