/* CSS declarations go here */
li {
  list-style: none;
}

.acroparty, .frontSignin, .mainScreen, .stats, .chat, .gamePlay, .settings {
  display: none;
}
.frontSignin {
  text-align: center;
}
.frontSignin #login-dropdown-list {
  margin: 0 auto;
  left: -110px;
  text-align: left;
}

.stats, .settings {
  position: fixed;
  top: 12px;
  border: 1px solid darkgrey;
  background-color: lightblue;
  width: 90%;
  height: auto;
  padding: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.stats {
  background-color: lightblue;
}
.settings {
  background-color: lightgrey;
}

.mainScreen h1 {
  text-align: center;
}
.mainButtons {
  width: auto;
  text-align: center;
  margin: 6px;
}
.mainButton {
  margin: 0 8px;
}
.popupButton {
  display: block;
}

.roomList {
  width: 30%;
  background-color: lightblue;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
}
.roomListTitle {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}
.roomList li {
  margin-bottom: 8px;
  display: block;
}
.roomlistTitle {
  width: 100px;
  margin-left: 10px;
}
